<!DOCTYPE html>
<html lang="en">
<head>
  <title>dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<div class="container-fluid">

{% block c0%}
<div class="card-body-lg text-center bg-dark text-light" style="margin-top: 10px;">   
    <h1>Dashboard</h1>
    <p> รายงานประจำวันที่ เวลา {{ now }} </p>
</div>
{% endblock c0 %}

{% block c1 %}


<div class="text-center ">        

    <div class="card-columns">

        <div class="card bg-primary text-center text-light ">

            <p><small>Tele Sale Team</small></p>
            <h1 class="card-text" style="color: black;"><strong>20</strong></h1>
            <p><small></small><small>เติมเงิน / สมัคร</small></p>

        </div>

        <div class="card bg-success text-center text-light">

            <p><small>Community Team</small></p>
            <h1 class="card-text" style="color: black;"><strong>335</strong></h1>
            <p><small></small><small>เติมเงิน / สมัคร</small></p>

        </div>

        <div class="card bg-info text-center text-light">

            <p><small>Community Team 2</small> </p>
            <h1 class="card-text" style="color: black;"><strong>0</strong></h1>
            <p><small></small><small>เติมเงิน / สมัคร</small></p>

        </div>

        <div class="card bg-warning text-center text-light">

            <p><small>Online Team</small></p>
            <h1 class="card-text" style="color: black;"><strong>93</strong></h1>
            <p><small></small><small>เติมเงิน / สมัคร</small></p>

        </div>

        <div class="card bg-danger text-center text-light">

            <p><small>Mynmar Team</small></p>
            <h1 class="card-text" style="color: black;"><strong>6</strong></h1>
            <p><small>เติมเงิน / สมัคร</small></p>

        </div>
        
        <div class="card text-center bg-secondary text-light">

            <p><small>Duckbet</small></p>
            <h1 class="card-text" style="color: black;"><strong>101</strong></h1>
            <p><small>เติมเงิน / สมัคร</small></p>

        </div>

    


        <div class="card  bg-secondary text-light">

            <p><small>Mughuay</small></p>
            <h1 class="card-text" style="color: black;"><strong>15</strong></h1>
            <p><small>เติมเงิน / สมัคร</small></p>

        </div>

        <div class="card bg-secondary text-light">

            <p><small>Slakthai Ban</small></p>
            <h1 class="card-text" style="color: black;"><strong>362</strong></h1>
            <p><small>ใบ</small></p>

        </div>

        
        <div class="card bg-secondary text-light">

            <p><small>Number Phone</small></p>
            <h1 class="card-text" style="color: black;"><strong>75,893</strong></h1>
            <p><small>เบอร์</small></p>

        </div>

        <div class="card  bg-secondary text-light">

            <p><small>Telephon Quality</small></p>
            <h1 class="card-text" style="color: black;"><strong>53</strong></h1>
            <p><small>เปอร์เซ็นต์</small></p>

        </div>

        <div class="card bg-secondary text-light">

            <p><small>Interest</small></p>
            <h1 class="card-text" style="color: black;"><strong>983</strong></h1>
            <p><small>คน</small></p>

        </div>

        <div class="card bg-secondary text-light ">

            <p><small>SMS</small></p>
            <h1 class="card-text" style="color: black;"><strong>93</strong></h1>
            <p><small>ครั้ง</small></p>

        </div>

        <div class="card bg-secondary text-light ">

            <p><small>พนักงานทำงาน</small></p>
            <h1 class="card-text" style="color: rgb(81, 255, 0);"><strong>32</strong></h1>
            <p><small>เปอร์เซ็นต์</small></p>

        </div>

        <div class="card bg-secondary text-light">

            <p><small>พนักงานยังไม่ผ่านเกณฑ์</small></p>
            <h1 class="card-text" style="color: rgb(196, 1, 1);"><strong>2</strong></h1>
            <p><small>คน</small></p>

        </div>

        


    </div>
</div><br>

{% endblock c1 %}